.navbar-user {
    color: aliceblue;
    font-size:small;
}

.navbar {
    background-color: #23252a;
    width:100vw;
    max-width: 100rem;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
}

.navbar-brand {
    color: aliceblue;
    margin-left: 1rem;
}