.nav-menu {
    background-color: #23252a;
    width: 15rem;
    justify-content: center;
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
}

.nav-text {
    padding: 8px 0px 8px 0px;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #4b4c51;
}

.nav-menu-items {
    width: 13rem;;
    margin-left: 2rem;
    height: 100%;
    overflow-y: auto;
}

.sidebar-footer {
    margin-top: auto;
    margin-bottom: 1rem;
}