.page-layout {
    margin-top: 5rem;
    margin-left: 15rem;
    background-color: #ffffff;
    min-height: 40vh;
    padding-left: 5rem;
    height: 80vh;
    min-width: 20vw;
    width: 70vw;
    overflow-y: auto;
    overflow-x: auto;
}

.layout {
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.form-signin {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    margin: auto;
    height: 100%;
    margin-top: 35vh;
}

.button {
    color: rgb(249, 249, 249);
    background-color: #23252a;
    border: none;
    width: 100%;
    margin-bottom: 1rem;
}

.table-search {
    width: 100;
    padding-left: 40;
}
